# Data Wrangling: Cardano, Ethereum, Bitcoin 
### *This notebook will be used to primarily address dataset cleaning for the Cardano cryptocurrency, in preparation for utilization of the data in a time series forecasting model. The csv files for Ethereum and Bitcoin may be used to compare growth, market trends, etc. in the Exploratory Data Analysis phase.

In [65]:
import pandas as pd #pd.read_csv, data processing 
import numpy as np #linear algebra 
import matplotlib.pyplot as plt #plotting/graphical analysis
import seaborn as sns #plotting/graphical analysis

In [66]:
#create dataframes via available csv files
ADA_df = pd.read_csv('../Capstone_Project_3/Data/coin_Cardano.csv')
ETH_df = pd.read_csv('../Capstone_Project_3/Data/coin_Ethereum.csv')
BTC_df = pd.read_csv('../Capstone_Project_3/Data/coin_Bitcoin.csv')

### Column Data:
#### SNo : Serial Number 
#### Date : date of observation
#### Open : Opening price on the given day
#### High : Highest price on the given day
#### Low : Lowest price on the given day
#### Close : Closing price on the given day
#### Volume : Volume of transactions on the given day
#### Market Cap : Market capitalization in USD

In [67]:
ADA_df.head(10)#cursory look at dataframe

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Cardano,ADA,2017-10-02 23:59:59,0.030088,0.019969,0.024607,0.025932,57641300.0,6.288991e+08
1,2,Cardano,ADA,2017-10-03 23:59:59,0.027425,0.020690,0.025757,0.020816,16997800.0,5.396927e+08
2,3,Cardano,ADA,2017-10-04 23:59:59,0.022806,0.020864,0.020864,0.021931,9000050.0,5.686195e+08
3,4,Cardano,ADA,2017-10-05 23:59:59,0.022154,0.020859,0.021951,0.021489,5562510.0,5.571390e+08
4,5,Cardano,ADA,2017-10-06 23:59:59,0.021542,0.018360,0.021359,0.018539,7780710.0,4.806646e+08
5,6,Cardano,ADA,2017-10-07 23:59:59,0.021050,0.017620,0.018414,0.020941,7411240.0,5.429362e+08
6,7,Cardano,ADA,2017-10-08 23:59:59,0.023598,0.020147,0.020929,0.020477,7727460.0,5.309138e+08
7,8,Cardano,ADA,2017-10-09 23:59:59,0.022807,0.020342,0.020344,0.022114,4663310.0,5.733435e+08
8,9,Cardano,ADA,2017-10-10 23:59:59,0.022446,0.021279,0.022112,0.021531,2725600.0,5.582435e+08
9,10,Cardano,ADA,2017-10-11 23:59:59,0.022576,0.020976,0.021480,0.022520,3606720.0,5.838647e+08

In [68]:
ADA_df.info()#data types, null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245 entries, 0 to 1244
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        1245 non-null   int64
 1   Name       1245 non-null   object
 2   Symbol     1245 non-null   object
 3   Date       1245 non-null   object
 4   High       1245 non-null   float64
 5   Low        1245 non-null   float64
 6   Open       1245 non-null   float64
 7   Close      1245 non-null   float64
 8   Volume     1245 non-null   float64
 9   Marketcap  1245 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 97.4+ KB

#### There are no null values in this dataset. There are a 10 columns, of which a couple will need some attention:
#### - Serial Number does not seem to provide any value to the data set other than numbering each day, so it can probably be removed. 
#### - Name and Symbol are repetitive, and have no bearing on the model outcome, and thus can be removed. I will keep the Symbol column through the EDA notebook, as it will be helpful in distinguishing between the three coins as we compare market trends before the baseline modeling for Cardano. 
#### - Date does not need hours, min and sec as it is the same value for every day and can be converted into a datetime object
#### - High, Low, Open and Close could be rounded but I will probably leave them as is and ensure that further calculations involving these columns are rounded to the six decimal places these columns have. 
#### - Marketcap's scientific notation could become cumbersome, which may lead to it needing to be notated differently.

In [69]:
#remove Serial Number and Name columns
ADA_df = ADA_df.drop(['SNo', 'Name'], axis=1)
ADA_df.columns

Index(['Symbol', 'Date', 'High', 'Low', 'Open', 'Close', 'Volume',
       'Marketcap'],
      dtype='object')

In [71]:
#Exclude the hour, min, and sec in Date column and convert to datetime64
ADA_df['Date'] = ADA_df['Date'].astype('datetime64')
ADA_df['Date'] = ADA_df['Date'].dt.strftime('%Y-%m-%d')
ADA_df['Date'] = ADA_df['Date'].astype('datetime64')
ADA_df['Date'].head()

0   2017-10-02
1   2017-10-03
2   2017-10-04
3   2017-10-05
4   2017-10-06
Name: Date, dtype: datetime64[ns]

In [57]:
#dataframe is cleaned as desired and ready for EDA
ADA_df.head()

,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,ADA,2017-10-02,0.030088,0.019969,0.024607,0.025932,57641300.0,6.288991e+08
1,ADA,2017-10-03,0.027425,0.020690,0.025757,0.020816,16997800.0,5.396927e+08
2,ADA,2017-10-04,0.022806,0.020864,0.020864,0.021931,9000050.0,5.686195e+08
3,ADA,2017-10-05,0.022154,0.020859,0.021951,0.021489,5562510.0,5.571390e+08
4,ADA,2017-10-06,0.021542,0.018360,0.021359,0.018539,7780710.0,4.806646e+08

In [58]:
#Repeat on BTC and ETH csv files. 
BTC_df.info()#data types, null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2862 entries, 0 to 2861
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2862 non-null   int64
 1   Name       2862 non-null   object
 2   Symbol     2862 non-null   object
 3   Date       2862 non-null   object
 4   High       2862 non-null   float64
 5   Low        2862 non-null   float64
 6   Open       2862 non-null   float64
 7   Close      2862 non-null   float64
 8   Volume     2862 non-null   float64
 9   Marketcap  2862 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 223.7+ KB

In [60]:
BTC_df = BTC_df.drop(['SNo', 'Name'], axis=1)
BTC_df.columns

Index(['Symbol', 'Date', 'High', 'Low', 'Open', 'Close', 'Volume',
       'Marketcap'],
      dtype='object')

In [73]:
BTC_df['Date'] = BTC_df['Date'].astype('datetime64')
BTC_df['Date'] = BTC_df['Date'].dt.strftime('%Y-%m-%d')
BTC_df['Date'] = BTC_df['Date'].astype('datetime64')
BTC_df['Date'].head()

0   2013-04-29
1   2013-04-30
2   2013-05-01
3   2013-05-02
4   2013-05-03
Name: Date, dtype: datetime64[ns]

In [74]:
ETH_df.info()#data types, null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2031 entries, 0 to 2030
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2031 non-null   int64
 1   Name       2031 non-null   object
 2   Symbol     2031 non-null   object
 3   Date       2031 non-null   object
 4   High       2031 non-null   float64
 5   Low        2031 non-null   float64
 6   Open       2031 non-null   float64
 7   Close      2031 non-null   float64
 8   Volume     2031 non-null   float64
 9   Marketcap  2031 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 158.8+ KB

In [75]:
ETH_df = ETH_df.drop(['SNo', 'Name'], axis=1)
ETH_df.columns

Index(['Symbol', 'Date', 'High', 'Low', 'Open', 'Close', 'Volume',
       'Marketcap'],
      dtype='object')

In [76]:
ETH_df['Date'] = ETH_df['Date'].astype('datetime64')
ETH_df['Date'] = ETH_df['Date'].dt.strftime('%Y-%m-%d')
ETH_df['Date'] = ETH_df['Date'].astype('datetime64')
ETH_df['Date'].head()

0   2015-08-08
1   2015-08-09
2   2015-08-10
3   2015-08-11
4   2015-08-12
Name: Date, dtype: datetime64[ns]

In [79]:
#save cleaned dataframes for EDA notebook 
ADA_df.to_csv('ADA_df.csv')
BTC_df.to_csv('BTC_df.csv')
ETH_df.to_csv('ETH_df.csv')

### The Data Wrangling portion of this capstone project is complete with each csv file prepared for Exploratory Data Analysis.